@model RegisterDTO
@{
    ViewBag.Title = "Register";
}

<div class="text-gray">
    <span>StaffHub</span>
    <i class="fa-solid fa-caret-right"></i>
    <span>Register</span>
</div>

<div class="form-container">
    Already Registered? <a href="~/account/login" class="link-hover">Login</a>
    <h2 class="text-large">Register</h2>

    <form asp-controller="Account" asp-action="Register" method="post">
        @*Employee Name*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="EmployeeName" class="form-label pt"> Empolyee Name </label>
            </div>
            <div class="flex-1">
                <div>
                    <input asp-for="EmployeeName" class="form-input" />
                </div>
                <div>
                    <span asp-validation-for="EmployeeName" class="text-red"></span>
                </div>
            </div>
        </div>

        @*Email*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Email" class="form-label pt"> Email </label>
            </div>
            <div class="flex-1">
                <div>
                    <input asp-for="Email" class="form-input" />
                </div>
                <div>
                    <span asp-validation-for="Email" class="text-red"></span>
                </div>

            </div>
        </div>

        @*Passsword*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Password" class="form-label pt"> Password </label>
            </div>
            <div class="flex-1">
                <div>
                    <input asp-for="Password" class="form-input" />
                </div>
                <div>
                    <span asp-validation-for="Password" class="text-red"></span>
                </div>

            </div>
        </div>

        @*Confirm Password*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="ConfirmPassword" class="form-label pt"> Confirm Password </label>
            </div>
            <div class="flex-1">
                <div>
                    <input asp-for="ConfirmPassword" class="form-input" />
                </div>
                <div>
                    <span asp-validation-for="ConfirmPassword" class="text-red"></span>
                </div>

            </div>
        </div>


        @*User Type*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="UserType" class="form-label pt"> User Type </label>
            </div>
            <div class="flex-1">
                <div>
                    <input type="radio" id="User" asp-for="UserType" value="User" checked="true"/>
                    <label for="User">User</label>

                    <input type="radio" id="Admin" asp-for="UserType" value="Admin" />
                    <label for="Admin">Admin</label>
                </div>

            </div>
        </div>

        @*Register Button*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back" type="submit"> Register </button>
                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml"> @error </li>
                            }
                        </ul>
                    </div>
                }

            </div>
        </div>

    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>