<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="page-content">
            <div class="margin-bottom" id="top-bar-div">
                <div class="flex">
                    <div class="flex-1" id="app-title-div">
                        <h1 class="app-title">
                            <i class="fa-solid fa-people-simple"></i>
                            Staff Hub
                        </h1>
                    </div>
                    <div class="flex-1 pr" id="search-box-div">
                        <div class="navbar account-links">
                            <ul>
                            @if (User.Identity.IsAuthenticated)
                            {
                                    <li>
                                        <i class="fa-solid fa-user"></i>
                                        @User.Identity?.Name
                                    </li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>
                                            <a asp-controller="home" asp-action="index"
                                               asp-area="admin"> Admin Home </a>

                                        </li>
                                    }
                                    
                                    <li>
                                        <a href="~/account/logout"> Logout </a>

                                    </li>
                            }
                            else
                            {
                                    <li>
                                        <a href="~/account/register"> Register </a>

                                    </li>
                                    <li>
                                        <a href="~/account/login"> Login </a>
                                    </li>
                            }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            @* if not needed remove *@
            <div class="navbar mb">
            <ul>
                <li>
                    <a href="~/employee/index"> Employee </a>
                </li>
            </ul>
            </div>

            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
