@model EmployeeResponse
@{
    ViewBag.Title = "Delete Employee";
}

<div class="flex">
    <div class="flex-1">
        <div class="text-grey">
            <span>StaffHub</span>
            <i class="fa-solid fa-caret-right"></i>
            <span>Employees</span>
            <i class="fa-solid fa-caret-right"></i>
            <span>Delete</span>
        </div>
    </div>
</div>


<div class="form-container">
    <a href="~/employee/index" class="link-hover"> Back to Employee List</a>
    <h2 class="text-large">Edit Employee</h2>
    <form asp-controller="Employee" asp-action="Delete" method="post">
        <input type="hidden" asp-for="EmployeeID"/>
        @*Employee name*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="EmployeeName" class="form-label pt"> Empolyee Name </label>
            </div>
            <div class="flex-1">
                <div>
                    <input asp-for="EmployeeName" class="form-input" disabled/>
                </div>
                <div>
                    <span asp-validation-for="EmployeeName" class="text-red"></span>
                </div>
                
            </div>
        </div>

        @*Email*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Email" class="form-label pt"> Email </label>
            </div>
            <div class="flex-1">
                <div>
                    <input asp-for="Email" class="form-input" disabled />
                </div>
                <div>
                    <span asp-validation-for="Email" class="text-red"></span>
                </div>
                
            </div>
        </div>

        @*Submit Button*@
        <div class="form-field flex">
            <div class="w-25">
            </div>

            <div class="flex-1">
                <button class="button button-green-back"> Delete </button>
                @if(ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml"> @error </li>
                            }
                        </ul>

                    </div>
                }
            </div>
                
            
        </div>
            
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>